<section class="drill">
  <mat-form-field class="path">
    <input matInput [(ngModel)]="path" placeholder="Path" (keyup.enter)="drill()">
  </mat-form-field>
  <button (click)="drill()" mat-raised-button color="primary" [disabled]="!path">Drill</button>
  <button (click)="openSettings()" mat-icon-button [disabled]="!path">
    <mat-icon aria-label="Settings">settings</mat-icon>
  </button>
  <mat-form-field class="limit">
    <mat-select [(value)]="limit" placeholder="Limit" (selectionChange)="onChangeLimit($event.value)">
      <mat-option value="10">10</mat-option>
      <mat-option value="50">50</mat-option>
      <mat-option value="100">100</mat-option>
      <mat-option value="250">250</mat-option>
      <mat-option value="500">500</mat-option>
    </mat-select>
  </mat-form-field>
</section>

<section>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filter
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="filter">
      <mat-form-field>
        <mat-select [(value)]="filter.field" placeholder="Field" (selectionChange)="onChangeFilter($event.value)">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let f of fields" [value]="f">{{f}}</mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field *ngIf="filter.field" class="oper">
        <mat-select [(value)]="filter.oper">
          <mat-option value="eq">Equals</mat-option>
          <mat-option value="gt">Greater Than</mat-option>
          <mat-option value="lt">Less Than</mat-option>
          <mat-option value="bt">Between</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field *ngIf="filter.oper != 'bt' && filter.field && !filter.isDate">
        <input matInput [(ngModel)]="filter.val" placeholder="Value">
      </mat-form-field>
  
      <mat-form-field *ngIf="filter.oper != 'bt' && filter.field && filter.isDate">
        <input matInput [(ngModel)]="filter.dateVal" [matDatepicker]="date" placeholder="Date" (dateChange)="dateChange('val', $event)">
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
      </mat-form-field>
  
      <span class="range" *ngIf="filter.oper == 'bt' && filter.field && !filter.isDate">
        <mat-form-field>
          <input matInput [(ngModel)]="filter.val" name="filter">
        </mat-form-field>
        <span>AND</span>
        <mat-form-field>
          <input matInput [(ngModel)]="filter.val2" name="filter2">
        </mat-form-field>
      </span>
  
      <span class="range" *ngIf="filter.oper == 'bt' && filter.field && filter.isDate">
        <mat-form-field>
          <input matInput [matDatepicker]="startDate" placeholder="Start date" (dateChange)="dateChange('val', $event)">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
        <span>AND</span>
        <mat-form-field>
          <input matInput [matDatepicker]="endDate" placeholder="End date" (dateChange)="dateChange('val2', $event)">
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
      </span>
  
      <button (click)="doFilter()" mat-raised-button color="secondary" *ngIf="filter.field && filter.oper != 'bt'" [disabled]="filter.val == ''">Apply</button>
      <button (click)="doFilter()" mat-raised-button color="secondary" *ngIf="filter.field && filter.oper == 'bt'" [disabled]="filter.val == '' || filter.val2 == ''">Apply</button>
      <button (click)="clear()" mat-button *ngIf="filter.field" [disabled]="filter.val == ''">Clear</button>
    </div>
  </mat-expansion-panel>
</section>

<section align="end" class="actions" *ngIf="results.length > 0">
  <button mat-button (click)="export()">Export</button>
  <span>
    <label class="custom-file-upload mat-button" [ngClass]="{'disabled': uploading}">
      <input type="file" accept=".csv" (change)="importSelected($event.target.files)">
        Import
    </label>
  </span>
  <button *ngIf="selected.length > 0" mat-button color="warn" (click)="delete()">Delete</button>
</section>

<section class="progress" *ngIf="working">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</section>

<ff-card-results [results]="results" (filter)="onFilter($event)" (selected)="onSelect($event)"></ff-card-results>