.alert {
  background-color: #f44336;
  color: white;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin-top: 40px;
  height: 100vh;
  margin-top: -65px;
}

h3 {
  font-weight: 500;
}
.container > div {
  width: 30%;
  margin-top: -65px;
  & > * {
    width: 100%;
  }
  mat-form-field, button {
    width: 100%;
  }
  mat-form-field:first-child {
    margin-top: 10px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container > div {
    width: 80%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container > div {
    width: 80%;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container > div {
    width: 50%;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container > div {
    width: 40%;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container > div {
    width: 30%;
  }
}

button {
  margin-top: 20px;
}

.logout {
  text-align: center;
  span:first-child {
    font-weight: 500;
    padding-right: 20px;
  }
}